APP_NAME='FastAPI Async Application'
ENVIRONMENT='local'
SECRET_KEY='your_secret_key_here'
ALLOWED_HOSTS=['https://example.com', 'https://example2.com']

# Database
DATABASE_URL=postgresql+asyncpg://<username>:<password>@<host>:<port>/<database_name>

# Google Credentials
GOOGLE_SHEET_CREDENTIALS = ''

# Gsheet
ONBOARDED_TENANT_LIST_GSHEET_URL = ''